.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 20rem; /* Set width using rem units */
    padding: 1.5rem; /* Set padding using rem units */
    border-radius: 10px; /* Set border-radius using rem units */
    background-color: #092635;
    margin-bottom: 10vh;

}
.form-title {
    text-align: center;
    margin-bottom: 1.25rem; /* Set margin-bottom using rem units */
    color: white;

}
.form {
       display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-top: 1.25rem;
}
.transparent-input {
    background-color: rgba(255, 255, 255, 0.2); /* White with 20% transparency */
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    transition: background-color 0.3s ease;
}

.transparent-input:focus {
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% transparency on focus */
    outline: none;
}

.transparent-input::placeholder {
    color: #aaa; /* Placeholder text color */
}

.transparent-input:hover {
    background-color: rgba(255, 255, 255, 0.1); /* White with 30% transparency on hover */
}


.remember-me-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .50rem;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;

}

.error {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
#password {
    margin-top: 0.25rem;
}
.forgot-password-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    cursor: pointer;
    transition: color 0.3s; /* Adding a smooth transition effect for color change */

    &:hover {
        color: #007bff; /* Change the color on hover, you can adjust this to your preferred hover color */
    }
}

.checkbox-div {
    display: flex;
    gap: 5px;
    color: #ffffff;

    input[type='checkbox'] {

    }
    label {
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
    }
    &:hover {
        input[type='checkbox'] {
            transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
            cursor: pointer;
        }
        label {
            color: #007bff;
        }
    }
}
.sign-up-link {
    text-align: center;
    margin-top: 1.25rem;
    font-size: 0.875rem;
    color: #ffffff;
    transition: color 0.3s;
}
.sign-up-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    cursor: pointer;
    transition: color 0.3s; /* Adding a smooth transition effect for color change */

    &:hover {
        color: #007bff; /* Change the color on hover, you can adjust this to your preferred hover color */
    }
}
.create-signin-button {
    background-color: #1d7a60;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.create-signin-button:hover {
    background-color: #19a174; /* Dark Green */
}
.auth-details {
    font-size: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}
.signed-out-in {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.signed-out-in button {
    color: #1d7a60;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    transition: color 0.3s;
}
.signed-out-in button:hover {
    cursor: pointer;
    color: #19a174;
}