/* transition.css or your preferred CSS file */

.schedule-transition-enter {
    opacity: 0;
}

.schedule-transition-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.schedule-transition-exit {
    opacity: 1;
}

.schedule-transition-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
