* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dash-navbar-container {
  height: 100%;
}
.dash-navbar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
}
.ul-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding-top: 20px;
  gap: 20px;
  background-color: #092635;
  border-radius: 1 0px;
}
.link {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}
.dash-navbar-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 70px;
  width: 70px;
  background-color: #1d7a60;
}
/* .icon-wrapper {
  background-color: #1d7a60;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  padding: 10px;
  gap: 5px;
  width: 4.5rem;
} */

.material-symbols-outlined {
  font-size: 1.8rem;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.icon-details {
  display: flex;
  font-size: 12px;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.dash-navbar-btn:hover {
  cursor: pointer;
  background-color: #19a174;
  transition: 0.3s ease-in-out;
}
.material-symbols-outlined:hover {
  cursor: pointer;
  transform: scale(1.2); /* Adjust the scale factor as needed */
}
.dash-navbar-btn:hover .icon-details {
  transform: scale(1.2); /* Adjust the scale factor as needed */
}
